.menu {
	list-style-type: none;
   text-align: center;
	margin: auto;
}

.menu li a{
	padding: 2px 7px 2px 7px;
   color: black;
   background-color: yellow;
   border: 1px solid #ccc;
   text-decoration: none;

}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: pink;
}

body{
	background-color: #c6eab4;	
}

